@mixin fontConfig($family, $size, $weight, $color: black) {
    font-family: $family, sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin makeTransparentButton($width, $height) {
    width: $width;
    height: $height;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin configureButton($width, $height) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    width: $width;
    height: $height;
    cursor: pointer;
}

@mixin breakpoint($userValues...) {
    @each $value in $userValues {
        $myMap: map-get($breakpoints, $value);

        @if $myMap {
            @media (#{$myMap}) {
                @content;
            }
        }
    }
}