.button {
    border: none;
    border-radius: 10px;
    background-color: lightgreen;
    cursor: pointer;
    width: 200px;
    height: 35px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.disabled {
    pointer-events: none;
    background-color: lightcoral;
}
