* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    background: linear-gradient(to bottom, white 0%, white 50%, #F5F5F5 50%, #F5F5F5 100%);

    &__body {
        display: flex;
        margin: auto;
    }

    &__logo {
        margin: 8px 0;
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__up {
        display: flex;
        height: 50%;
        align-items: center;
    }

    &__low {
        display: flex;
        height: 50%;
        align-items: center;
    }
}

.logo {}

.nav {
    display: flex;
    list-style: none;

    &__item {
        @include fontConfig($regularFont, 14px, 400);
    }
}

.link {
    &:link, &:visited  {
        color: black;
        text-decoration: none;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: end;

    &__phone {
        display: flex;
    }

    &__icon {}

    &__number {
        @include fontConfig($mediumFont, 16px, 500);
    }

    &__hours {
        @include fontConfig($mediumFont, 12px, 500, #B7B7B7);
    }
}

.cart {
    display: flex;
    align-items: center;

    &__amount {
        @include fontConfig($mediumFont, 14px, 500);
    }

    &__devider {}

    &__icon {}

    &__items {}
}

.profile {

    &__icon {}
}

.food-type {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {}

    &__name {
        @include fontConfig($mediumFont, 16px, 500);
    }
}