* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sortSection {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

main div.tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
    padding: 0 6%;
}

@media (min-width: 0px) and (max-width: 767px) {
    .sortSection {
        width: 60%;
    }
}