.slidersContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 5%;
}

.sliderOne {
    position: relative;
    width: 23%;
    display: flex;
    margin: 1% 1%;
    border: 2px solid black;
    overflow: hidden;
}

.sliderOneContent {
    width: 100%;
    display: flex;
}

.sliderOne img {
    width: 100%;
    height: 100%;
    padding: 0%;
    object-fit: fill;
}

.buttons {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 45%;
    display: flex;
    justify-content: space-between;
}

.sliderOne button {
    width: 10%;
    height: 40%; 
    cursor: pointer;
    background: transparent;
    border: none
}

.sliderTransition {
    transition: all 0.4s ease;
}

.moveSlide {
    transform: translateX(-100%);
}

@media (min-width: 0px) and (max-width: 767px) {
    .sliderOne {
        width: 100%;
        margin: 5% 20%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sliderOne {
        width: 40%;
        margin: 5% 5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sliderOne {
        width: 30%;
        margin: 3% 3%;
    }
}