* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    background: linear-gradient(to bottom, white 0%, white 50%, #F5F5F5 50%, #F5F5F5 100%);
    justify-content: center;
}

.header__nav {
    display: flex;
}

#header__logo {
    margin: 8px 0;
}