.journal__info {
    border-bottom: 1px solid #A3A4AB;
}

.journal__info-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}

.journal__info--icon {
    width: 25px;
    height: 25px;
}

.journal__info-title {
    color: #A3A4AB;
}
