@font-face {
  font-family: "TTInterfacesRegular";
  src: url("../fonts/TTInterfacesRegular.ttf");
}
@font-face {
  font-family: "TTInterfacesMedium";
  src: url("../fonts/TTInterfacesMedium.ttf");
}
@font-face {
  font-family: "TTInterfacesSemiBold";
  src: url("../fonts/TTInterfacesSemiBold.ttf");
}
@font-face {
  font-family: "TTInterfacesBold";
  src: url("../fonts/TTInterfacesBold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.background-stripes {
  position: absolute;
  width: 81.56%;
  height: 100%;
  left: 9.22%;
  background: repeating-linear-gradient(to right, #fafafa 0, #fafafa 79px, transparent 79px, transparent 104px);
  z-index: -1;
}
@media (max-width: 767.98px) {
  .background-stripes {
    background: repeating-linear-gradient(to right, #fafafa 0, #fafafa 30px, transparent 30px, transparent 38px);
  }
}

.header {
  min-width: 100%;
  display: flex;
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(245, 245, 245, 0.7) 50%, rgba(245, 245, 245, 0.7) 100%);
}
@media (max-width: 767.98px) {
  .header {
    background: transparent;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .header {
    background: transparent;
  }
}
.header__body {
  display: flex;
  margin: auto;
  width: 81.56%;
  flex-direction: column;
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .header__body {
    flex-direction: row;
  }
}
@media ((min-width: 1280px) and (max-width: 1535.98px)) {
  .header__body {
    flex-direction: row;
  }
}
.header__logo {
  margin: 8px 0;
  max-width: 70px;
  align-self: center;
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .header__logo {
    max-width: 134px;
    align-self: flex-start;
  }
}
@media ((min-width: 1280px) and (max-width: 1535.98px)) {
  .header__logo {
    max-width: 134px;
    align-self: flex-start;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1022px;
  margin-left: 56px;
}
@media (max-width: 767.98px) {
  .header__nav {
    margin: 0;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .header__nav {
    margin: 0;
  }
}
.header__up {
  display: flex;
  height: 50%;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__up {
    flex-direction: column;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .header__up {
    flex-direction: column;
  }
}
.header__low {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header__low {
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.5);
    padding: 10px 0;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .header__low {
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.5);
    padding: 10px 0;
  }
}

.nav {
  display: flex;
  list-style: none;
  max-width: 517px;
  flex-grow: 1;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .nav {
    width: 70%;
  }
}
.nav__item {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.link:link, .link:visited {
  color: black;
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 87px;
  max-width: 154px;
  flex-grow: 1;
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .contact {
    margin-left: 10px;
  }
}
@media (max-width: 767.98px) {
  .contact {
    margin: 10px 0;
    align-items: center;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .contact {
    margin: 10px 0;
    align-items: center;
  }
}
.contact__phone {
  display: flex;
}
.contact__number {
  margin-left: 8px;
  font-family: "TTInterfacesMedium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.contact__hours {
  font-family: "TTInterfacesMedium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #b7b7b7;
}

.cart {
  display: flex;
  align-items: center;
  width: 134px;
  height: 48px;
  margin-left: 56px;
  background-color: #f5f5f5;
  border-radius: 6px;
  justify-content: space-evenly;
}
@media (max-width: 767.98px) {
  .cart {
    height: 32px;
    width: 110px;
    margin: 10px 0;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .cart {
    height: 32px;
    width: 110px;
    margin: 10px 0;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .cart {
    margin-left: 10px;
    width: 90px;
  }
}
.cart__amount {
  font-family: "TTInterfacesMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  width: 45px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .cart__amount {
    width: 25px;
    margin-left: 4%;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .cart__amount {
    width: 25px;
    margin-left: 4%;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .cart__amount {
    width: 25px;
    margin-left: 4%;
  }
}
.cart__devider {
  height: 24px;
  border-left: 1px solid white;
  border-radius: 4px;
}
.cart__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.cart__items {
  position: absolute;
  top: -3px;
  right: -5px;
}

.profile__button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 6px;
  margin-left: 24px;
}
@media (max-width: 767.98px) {
  .profile__button {
    width: 32px;
    height: 32px;
    margin: 10px 0;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .profile__button {
    width: 32px;
    height: 32px;
    margin: 10px 0;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .profile__button {
    margin-left: 10px;
  }
}
.food-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.98px) {
  .food-type {
    margin-top: 5%;
    margin-right: 5%;
  }
}
.food-type__icon {
  margin-bottom: 10px;
}
.food-type__name {
  font-family: "TTInterfacesMedium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.gift {
  min-width: 100%;
  display: flex;
}
.gift__body {
  display: flex;
  margin: auto;
  width: 81.56%;
  margin-top: 48px;
  position: relative;
  background-color: rgba(245, 249, 250, 0.7);
  border-radius: 20px;
}
@media (max-width: 767.98px) {
  .gift__body {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 249, 250, 0.5);
  }
}
.gift__left-btn {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .gift__left-btn {
    left: -32.5px;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .gift__left-btn {
    left: -32.5px;
  }
}
@media (max-width: 767.98px) {
  .gift__left-btn {
    left: -16px;
  }
}
.gift__left-half {
  width: 50%;
  padding-left: 4.92%;
  padding-top: 9.59%;
}
@media (max-width: 767.98px) {
  .gift__left-half {
    width: 80%;
    padding: 0;
    margin-bottom: 60px;
  }
}
.gift__title {
  font-family: "TTInterfacesSemiBold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: black;
  width: 98%;
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .gift__title {
    font-family: "TTInterfacesSemiBold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .gift__title {
    font-family: "TTInterfacesSemiBold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
  }
}
@media (max-width: 767.98px) {
  .gift__title {
    font-family: "TTInterfacesSemiBold", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: black;
  }
}
.gift__title--orange {
  color: #e07153;
}
.gift__subtitle {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-top: 8px;
}
@media (max-width: 767.98px) {
  .gift__subtitle {
    font-family: "TTInterfacesSemiBold", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: black;
  }
}
.gift__right-half {
  display: flex;
  width: 50%;
}
.gift__image {
  width: 100px;
  max-height: 424px;
  -o-object-fit: contain;
     object-fit: contain;
  flex: 1;
  padding-right: 9%;
}
.gift__right-btn {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .gift__right-btn {
    right: -32.5px;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .gift__right-btn {
    right: -32.5px;
  }
}
@media (max-width: 767.98px) {
  .gift__right-btn {
    right: -16px;
  }
}

.switch-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  width: 80px;
  height: 80px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: white;
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .switch-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    width: 65px;
    height: 65px;
    cursor: pointer;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .switch-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    width: 65px;
    height: 65px;
    cursor: pointer;
  }
}
@media (max-width: 767.98px) {
  .switch-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
}
@media (max-width: 767.98px) {
  .switch-button__arrow {
    width: 20px;
  }
}

.details-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  width: 172px;
  height: 172px;
  cursor: pointer;
  position: absolute;
  background-image: url("../images/gift/redCircle.png");
  background-size: contain;
  bottom: -86px;
  left: 60px;
}
@media (max-width: 767.98px) {
  .details-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    width: 90px;
    height: 90px;
    cursor: pointer;
    bottom: -45px;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .details-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    width: 90px;
    height: 90px;
    cursor: pointer;
    bottom: -45px;
  }
}
.details-btn__title {
  font-family: "TTInterfacesMedium", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
@media (max-width: 767.98px) {
  .details-btn__title {
    font-family: "TTInterfacesMedium", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .details-btn__title {
    font-family: "TTInterfacesMedium", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
  }
}

.advantage {
  min-width: 100%;
  display: flex;
  position: relative;
  margin-top: 133px;
}
@media (max-width: 767.98px) {
  .advantage {
    margin-top: 70px;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .advantage {
    margin-top: 70px;
  }
}
.advantage__decoration {
  position: absolute;
  left: 0;
  top: -128px;
  opacity: 0.6;
  width: 12%;
}
.advantage__body {
  display: flex;
  margin: auto;
  width: 81.56%;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .advantage__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.advantage__btn {
  position: absolute;
  right: 13px;
  bottom: 40px;
  background-image: url("../images/gift/redCircle.png");
  background-size: contain;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  width: 110px;
  height: 110px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .advantage__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    width: 51px;
    height: 51px;
    cursor: pointer;
    right: 5%;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .advantage__btn {
    bottom: 190px;
  }
}
@media (max-width: 767.98px) {
  .advantage__btn-icon {
    width: 15%;
  }
}
.advantage__btn-title {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
@media (max-width: 767.98px) {
  .advantage__btn-title {
    font-family: "TTInterfacesRegular", sans-serif;
    font-size: 9px;
    font-weight: 400;
    color: white;
  }
}

.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.98px) {
  .advantage-item {
    text-align: center;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .advantage-item {
    text-align: center;
  }
}
.advantage-item__container {
  width: 180px;
  height: 107px;
}
.advantage-item__title {
  font-family: "TTInterfacesSemiBold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: black;
}
.advantage-item__circle {
  position: relative;
  width: 72px;
  height: 72px;
  background-color: #e07153;
  border-radius: 50%;
  margin-top: -30px;
}
.advantage-item__icon {
  position: absolute;
  right: -15px;
}
.advantage-item__subtitle {
  font-family: "TTInterfacesSemiBold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-top: 12px;
}
.advantage-item__comment {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-top: 2px;
}

.positions {
  min-width: 100%;
  display: flex;
}
.positions__body {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 135px;
  width: 81.56%;
  position: relative;
}
.positions__headline {
  display: flex;
  position: relative;
}
.positions__mascot {
  position: absolute;
  left: -80px;
}
.positions__row {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
.positions__btn {
  position: absolute;
  right: 0;
}
.positions__decoration {
  position: absolute;
  right: 0;
}

.headline-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 32px;
}
.headline-button__main {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: black;
}
.headline-button__secondary {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #b7b7b7;
}

.food-card {
  background-color: rgba(255, 255, 255, 0.4);
  width: 32.13%;
  max-width: 392px;
}
.food-card__header {
  position: relative;
}
.food-card__image {
  width: 100%;
}
.food-card__main {
  margin-top: 26px;
}
.food-card__title {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
  display: flex;
  height: 30px;
  margin: 4px 0;
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .food-card__title {
    font-family: "TTInterfacesRegular", sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: black;
    align-items: center;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .food-card__title {
    font-family: "TTInterfacesRegular", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    align-items: center;
  }
}
.food-card__subtitle {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.food-card__footer {
  display: flex;
  margin: 0 24px;
  justify-content: space-between;
  margin-top: 54px;
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .food-card__footer {
    margin-top: 30px;
  }
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .food-card__footer {
    margin-top: 30px;
  }
}

.qualities {
  position: absolute;
  left: 0;
  top: 0;
}
.label {
  position: absolute;
  right: 0;
  top: 0;
}
.food-weight {
  display: flex;
  align-items: center;
}
.food-weight__label {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #b7b7b7;
}
.food-weight__separator {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #e07153;
  margin: 0 8px;
}

.price {
  display: flex;
  flex-direction: column;
}
.price__old {
  font-family: "TTInterfacesRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #b7b7b7;
  text-decoration-line: line-through;
  line-height: 11px;
}
.price__new {
  font-family: "TTInterfacesBold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: black;
}
@media ((min-width: 1024px) and (max-width: 1279.98px)) {
  .price__new {
    font-family: "TTInterfacesBold", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: black;
  }
}
@media ((min-width: 768px) and (max-width: 1023.98px)) {
  .price__new {
    font-family: "TTInterfacesBold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
  }
}

.order-btn {
  border: none;
  background-color: #e07153;
  background-image: url("../images/positions/btnBackground.svg");
  background-size: cover;
  width: 52.33%;
  max-width: 180px;
  max-height: 44px;
  border-radius: 2px;
  cursor: pointer;
}
.order-btn__label {
  font-family: "TTInterfacesSemiBold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
}