.journal__item {
    border-radius: 7px;
    background-color: #121318;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(0);
    transition: all .5s ease;
}

.journal__item-container {
    display: flex;
    width: 100%;
    height: 98px;
    position: relative;
}

.journal__item-container.animateIn {
    animation: insert .5s ease;
}

@keyframes insert {
    0% {
        height: 0;
    }
    100% {
        height: 98px;
    }
}

.journal__item.animateIn {
    transform: translateX(105%);
}

.journal__item.animateOut {
    transform: translateX(105%);
}

.jounral__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.journal__item-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.journal__item-data {
    display: flex;
    gap: 10px;
}

.journal__item-date {
    color: darkgrey;
}

.journal__item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
}
